
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/datepicker-es.js"></script>
    <script type="text/javascript" src="/assets/js/mqbe.min.js"></script>
    <script type="text/javascript" src="/assets/js/burgermenu.min.js"></script>
    <script type="text/javascript" src="/assets/js/cookie-policy-consent.js"></script>
    <script type="text/javascript" src="/assets/js/cookie-policy-consent-locales.js"></script>
    <script type="text/javascript" src="/assets/js/formikation.min.js"></script>
    <script type="text/javascript" src="/assets/js/socialize.js"></script>
    <script type="text/javascript" src="/src/scripts/main.js"></script>

    </body>
</html>
